html {
  font-size: 16px;
  background-color: aliceblue;
}

@font-face {
  font-family: 'raleway';

  src: url('assets/Raleway,Roboto/Raleway/static/Raleway-Black.ttf');

}

body {
  font-size: 1rem;
  text-align: center;
}


.nav-container {
  display: flex;
  background: radial-gradient(circle at center, yellow, red);
  flex-direction: row;
  width: 100%;
  top: 0;
  position: fixed;

}

.nav-container,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;

}

.nav-container ul li {
  padding: 10px;
  background-color: lightblue;
  margin: 10px 2px 10px 5px;
}


.nav-container ul li a {
  font-family: Arial;
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: block;

}



.nav-container a:hover {
  font-weight: 900;
  border-radius: 1px;
}

.nav-container a {
  text-decoration: none;
  color: black;
  transition: transform 3s ease, background-color s ease;
}

.header {
  text-align: center;
  font-family: 'raleway', sans-serif;
  font-size: 1rem;
  color: steelblue;
  margin-top: 10%;
}

h2 {
  font-family: 'raleway', Palatino;
}

p {
  font-size: calc(1.5vw + 1vh);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

img {
  max-width: 30%
}

#orgs-container,
#events-container,
#news-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.orgs,
.events,
.news {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}


.column {
  float: left;
  display: table-cell;
  /* calc(2vw + 1vh); */
  height: 235px;
  width: 33.33%;
  box-sizing: border-box;

  vertical-align: bottom;
  padding-bottom: 2%;

}

#events-container {
  display: table;

}

@media only screen and (max-width: 600px) {
  .nav-container ul {
    flex-direction: column
  }
  .header{
    margin-top: 40%;
  }
}
